// * General
* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #e8f5e9;
}

section {
	margin: 0 0 4rem 0;
}

h2 {
	font-size: 2rem;
	margin-bottom: 1.5rem;
}

// * hero
.hero {
	padding-top: 8rem;
	height: 80vh;
	background: {
		image: url(assets/images/web.jpg);
		position: center;
		size: 100%;
		repeat: no-repeat;
	}

	&__content {
		color: white;
		text-align: center;
		position: relative;
		top: 25%;
	}

	&__title {
		font-size: 4.89rem;
		margin-bottom: 1.7rem;
	}

	&__subtitle {
		font-size: 2.89rem;
		margin-bottom: 3.7rem;
	}

	a {
		font-size: 1.3rem;
	}
}

// * features
.features {
	.container {
		margin: 0 2rem;
	}

	&__grid {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
        gap: 4rem;
	}

    &__item {
        text-align: center;
        img {
            width: 100%;
            height: 21.875rem;
            margin-bottom: 2rem;
        }

        h3 {
            font-size: 1.5rem;
            margin-bottom: 1rem;
        }

        p {
            font: {
                size: 1.2rem;
                weight: 100;
            }
        }
    }
}
