// * General
* {
	margin: 0;
	padding: 0;
	font-family: $font-stack;
}

section {
	margin: 0 0 3rem 0;
}

h2 {
	@include h2-style;
}

.container {
	margin: 0 2rem;
	padding: 4rem 0;
}

.btn-primary {
	@include button-style("primary");
}

.btn-secondary {
	@include button-style("secondary");
}

.btn-tertiary {
	@include button-style("tertiary");
}
