// * Mixins
@mixin h2-style($color: #000000, $font-size: 2rem, $margin: 0 0 1.5rem 0) {
	color: $color;
	font-size: $font-size;
	margin: $margin;
}

@mixin text-style($text-size: $i-text-size) {
	color: $text-color;
	font: {
		size: $text-size;
		weight: 100;
	}
}

@mixin flex-center($x-axis: center, $y-axis: center) {
	display: flex;
	justify-content: $x-axis;
	align-items: $y-axis;
}

@mixin box-shadow($x: -1px, $y: -1px, $blur: -1px, $color: #000000) {
	box-shadow: $x $y $blur $color;
	border-radius: 5px 0 0 5px;
}

// * General
* {
	margin: 0;
	padding: 0;
	font-family: $font-stack;
}

body {
	background-color: $bg-color;
}

section {
	margin: 0 0 3rem 0;
}

h2 {
	@include h2-style;
}

.container {
	margin: 0 2rem;
	padding: 4rem 0;
}
