// * Mixins
@mixin h2-style($color: #000000, $font-size: 2rem, $margin: 0 0 1.5rem 0) {
	color: $color;
	font-size: $font-size;
	margin: $margin;
}

@mixin text-style {
	color: $text-color;
	font: {
		size: 1.6rem;
		weight: 100;
	}
}

@mixin flex-center {
	display: flex;
	justify-self: center;
	align-self: center;
}

@mixin box-shadow($color: #000000) {
	box-shadow: -1px -1px -1px $color;
	border-radius: 5px 0 0 5px;
}

// * General
* {
	margin: 0;
	padding: 0;
	font-family: $font-stack;
}

body {
	background-color: $bg-color;
}

section {
	margin: 0 0 3rem 0;
}

h2 {
	@include h2-style;
}

.container {
	margin: 0 2rem;
	padding: 4rem 0;
}