// * cta
.cta {
	h2 {
		@include h2-style($primary-color, 2.3rem);
		@include flex-center;
	}

	p {
		@include text-style;
		@include flex-center;
		margin-bottom: 3rem;
	}

	&__form {
		@include flex-center;
		input {
			@include box-shadow;
			height: 5.5vh;
			width: 33vw;
			font-size: 1.2rem;
			padding: 0.1rem 1.2rem;
		}
		button {
			width: 10vw;
			font-size: 1.2rem;
			color: $white;
			background-color: $primary-color;
			border: none;
			border-radius: 0 5px 5px 0;
			padding: 1rem;
		}
	}
}
