// * features
.features {
	h2 {
		@include h2-style;
	}

	&__grid {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 4rem;
	}

	&__item {
		text-align: center;
		img {
			width: 100%;
			height: 35vh;
			margin-bottom: 2rem;
		}

		h3 {
			font-size: 1.8rem;
			margin-bottom: 1rem;
		}

		p {
			@include text-style;
		}
	}
}
