// * hero
.hero {
	padding-top: 8rem;
	height: 80vh;
	background: {
		image: url(assets/images/web.jpg);
		position: center;
		size: 100%;
		repeat: no-repeat;
	}

	&__content {
		color: white;
		text-align: center;
		position: relative;
		top: 20vh;
	}

	&__title {
		font-size: 4.89rem;
		margin-bottom: 1.7rem;
	}

	&__subtitle {
		font-size: 2.89rem;
		margin-bottom: 3.7rem;
	}

	a {
		font-size: 1.3rem;
	}
}