// * Importing Operators
@use "sass:math";

// * color
$primary-color: #66b266;
$secondary-color: #0096FF;
$bg-color: #e8f5e9;
$text-color: #333333;
$white: #ffffff;

$theme-colors: (
	"primary": $primary-color,
	"secondary": $bg-color,
	"tertiary": $text-color,
);

// * font family
$font-stack: "Open Sans";

// * font size
$i-text-size: 1.6rem;

// * padding
$white-container-p: 3rem 0;
